<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>To Record Audio With Video</string>
	<key>NSCameraUsageDescription</key>
	<string>To Take Photos and Video</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb111248286255076</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>111248286255076</string>
	<key>FacebookDisplayName</key>
	<string>Yellow</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This will improve application&apos;s content to match with your current location.</string>
	<key>Privacy - Location When In Use Usage Description   </key>
	<string>This will improve application&apos;s content to match with your current location.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ThaiSansNeue-Black.ttf</string>
		<string>ThaiSansNeue-BlackItalic.ttf</string>
		<string>ThaiSansNeue-Bold.ttf</string>
		<string>ThaiSansNeue-BoldItalic.ttf</string>
		<string>ThaiSansNeue-ExtraBold.ttf</string>
		<string>ThaiSansNeue-ExtraBoldItali.ttf</string>
		<string>ThaiSansNeue-ExtraLight.ttf</string>
		<string>ThaiSansNeue-ExtraLightItal.ttf</string>
		<string>ThaiSansNeue-Italic.ttf</string>
		<string>ThaiSansNeue-Light.ttf</string>
		<string>ThaiSansNeue-LightItalic.ttf</string>
		<string>ThaiSansNeue-Regular.ttf</string>
		<string>ThaiSansNeue-SemiBold.ttf</string>
		<string>ThaiSansNeue-SemiBoldItalic.ttf</string>
		<string>ThaiSansNeue-UltraBold.ttf</string>
		<string>ThaiSansNeue-UltraBoldItali.ttf</string>
		<string>ThaiSansNeue-UltraLight.ttf</string>
		<string>ThaiSansNeue-UltraLightItal.ttf</string>
	</array>
</dict>
</plist>
